.footer {
  background: var(--secondary);

  .credit {
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--white);

    span {
      color: var(--primary);
      font-style: italic;
      font-weight: 700;
    }
  }
}
