.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  padding: 1.5rem 10%;
  z-index: 1000;

  .logo {
    font-size: 3rem;
    padding: 5px 12px;
    border: 3px solid #fff;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);

    a {
      color: #ffe9e4;
    }

    span {
      color: #aceef3;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;

    .links {
      font-size: 2.5rem;

      a {
        color: var(--white);
        margin-left: 2rem;

        &:hover {
          color: var(--primary);
          transition: 0.3s ease-in;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .navbar {
    .nav-links {
      flex-direction: column;
    }
  }
}
