* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
  text-transform: capitalize;
  transition: all 0.3s linear;
}

:root {
  $primary: rgb(255, 0, 0);
  $black: rgb(8, 8, 8);
  $secondary: rgb(102, 51, 153);
  $white: #fff;
}

.App {
  text-align: center;
}
